@charset "UTF-8";
:root {
  --primary-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
  --secondary-background-color: #2f303a;
  --third-background-color: #f5f4fa;
  --hero-background-color: #c4c4c4;
  --black-color: #000000;
  --transparent-white-color: rgba(255, 255, 255, 0.6);
  --curiousblue-color: #188ce8;
  --gallery-color: #eeeeee;
  --shadow-color: rgba(0, 0, 0, 0.25);
  --backdrop-color: rgba(0, 0, 0, 0.2);
  --bombay-color: #afb1b8;
}

.address__contact, .client-list, .socials, .team-list, .profile, .qualities-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.address__contact-link {
  text-decoration: none;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.address__contact-link:hover, .address__contact-link:focus {
  color: var(--accent-color);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page {
  background-color: var(--primary-white-color);
  color: var(--primary-text-color);
  font-family: var(--primary-font);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.image {
  display: block;
  max-width: 100%;
  height: auto;
  margin-top: 0;
  margin-bottom: 0;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}
.container--header-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.container--footer-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.logo {
  color: var(--accent-color);
  font-family: var(--secondary-font);
  font-size: 24px;
  line-height: 1.17;
  text-decoration: none;
}
@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
    line-height: 1.19;
  }
}

.logo__item {
  color: var(--black-color);
}
.logo__item--color-white {
  color: var(--primary-white-color);
}

/*  Кнопка  */
.button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-width: 200px;
  background-color: var(--accent-color);
  color: var(--primary-white-color);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  cursor: pointer;
  border-radius: 4px;
  border-width: 0;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
.button--curiousblue-color:hover, .button--curiousblue-color:focus {
  background-color: var(--curiousblue-color);
}

.button__icon {
  margin-left: 10px;
  fill: var(--primary-white-color);
}

.header {
  position: relative;
  border-bottom: 1px solid #ececec;
}

@media screen and (max-width: 767px) {
  .header {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .header__contact {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .header__contact {
    display: block;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    margin: 0;
    padding: 0;
    list-style: none;
  }
  .header__contact-icon-wrapper {
    vertical-align: text-bottom;
    margin-right: 8px;
    font-size: 0;
  }
  .header__contact-icon {
    fill: currentColor;
  }
  .header__contact-link {
    text-decoration: none;
    -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    color: var(--primary-text-color);
  }
  .header__contact-link:hover, .header__contact-link:focus {
    color: var(--accent-color);
  }
}
@media screen and (max-width: 1199px) {
  .header__contact-item:first-child {
    margin-bottom: 10px;
  }
}
@media screen and (min-width: 1200px) {
  .header__contact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .header__contact-item:last-child {
    margin-left: 40px;
  }
}
@media screen and (max-width: 767px) {
  .mobile-menu {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow: auto;
    z-index: 5;
    background-color: var(--primary-white-color);
    font-weight: 500;
    letter-spacing: 0.02em;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: initial;
  }
  .mobile-button {
    padding: 0;
    background-color: transparent;
    border: none;
    cursor: pointer;
    line-height: 0;
  }
  .mobile-button__icon,
  .mobile-menu__close-icon {
    fill: var(--title-text-color);
  }
  .mobile-button:hover .mobile-button__icon, .mobile-button:focus .mobile-button__icon,
  .mobile-button:hover .mobile-menu__close-icon,
  .mobile-button:focus .mobile-menu__close-icon {
    fill: var(--accent-color);
  }
  .mobile-menu__container {
    position: relative;
    max-width: 480px;
    padding-top: 48px;
    padding-bottom: 48px;
    padding-left: 40px;
  }
}
@media screen and (max-width: 767px) and (max-width: 479px) {
  .mobile-menu__container {
    padding-left: 15px;
  }
}
@media screen and (max-width: 767px) {
  .mobile-menu__mobile-button-close {
    position: absolute;
    top: 10px;
    right: 15px;
  }
}
@media screen and (max-width: 767px) {
  .mobile-menu__nav {
    margin: 0;
    padding: 0;
    list-style: none;
    margin-bottom: 306px;
    font-size: 40px;
    line-height: 1.18;
  }
}
@media screen and (max-width: 767px) {
  .mobile-menu__nav-item:not(:last-child) {
    margin-bottom: 32px;
  }
}
@media screen and (max-width: 767px) {
  .mobile-menu__nav-link {
    text-decoration: none;
    -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    color: var(--title-text-color);
  }
  .mobile-menu__nav-link:hover, .mobile-menu__nav-link:focus {
    color: var(--accent-color);
  }
  .mobile-menu__nav-link--current {
    color: var(--accent-color);
  }
}
@media screen and (max-width: 767px) {
  .mobile-menu__contact {
    margin: 0;
    padding: 0;
    list-style: none;
    margin-bottom: 64px;
    color: var(--primary-text-color);
    font-size: 24px;
    line-height: 1.17;
  }
}
@media screen and (max-width: 767px) {
  .mobile-menu__contact-item:first-child {
    margin-bottom: 32px;
  }
}
@media screen and (max-width: 767px) {
  .mobile-menu__contact-link {
    color: var(--primary-text-color);
    text-decoration: none;
    -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .mobile-menu__contact-link:hover, .mobile-menu__contact-link:focus {
    color: var(--accent-color);
  }
  .mobile-menu__contact-link:hover, .mobile-menu__contact-link:focus {
    font-size: 34px;
    line-height: 1.18;
  }
}
@media screen and (max-width: 767px) {
  .mobile-menu__socials {
    margin: 0;
    padding: 0;
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 18px;
    line-height: 1.22;
  }
}
@media screen and (max-width: 767px) and (max-width: 479px) {
  .mobile-menu__socials {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
@media screen and (max-width: 767px) {
  .mobile-menu__socials-item:not(:last-child) {
    padding-right: 10px;
    margin-right: 10px;
    border-right: 1px solid rgba(33, 33, 33, 0.2);
  }
}
@media screen and (max-width: 767px) and (max-width: 479px) {
  .mobile-menu__socials-item:not(:last-child) {
    margin-bottom: 10px;
  }
}
@media screen and (max-width: 767px) {
  .mobile-menu__socials-link {
    text-decoration: none;
    -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    color: var(--accent-color);
  }
  .mobile-menu__socials-link:hover, .mobile-menu__socials-link:focus {
    color: var(--accent-color);
  }
}
@media screen and (min-width: 768px) {
  .mobile-menu,
  .mobile-button {
    display: none;
  }
}
@media screen and (max-width: 767px) {
  .nav-list {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .nav-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    margin: 0;
    padding: 0;
    list-style: none;
  }
  .nav-list__item:first-child {
    margin-left: 88px;
  }
  .nav-list__item:not(:last-child) {
    margin-right: 50px;
  }
  .nav-list__link {
    text-decoration: none;
    -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    color: var(--title-text-color);
  }
  .nav-list__link:hover, .nav-list__link:focus {
    color: var(--accent-color);
  }
  .nav-list__link--current {
    position: relative;
    color: var(--accent-color);
  }
  .nav-list__link--current::after {
    position: absolute;
    left: 0;
    bottom: 0;
    content: "";
    width: 100%;
    height: 4px;
    background-color: var(--accent-color);
    border-radius: 2px;
  }
}
@media screen and (min-width: 1200px) {
  .nav-list__item:first-child {
    margin-left: 93px;
  }
}
.hero {
  max-width: 480px;
  height: 400px;
  margin: 0 auto;
  background-color: var(--hero-background-color);
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../../images/banner-mobile.jpg);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../../images/banner-mobile.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border: 1px solid #000000;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  text-align: center;
}
@media screen and (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../../images/banner-mobile@2x.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../../images/banner-mobile@2x.jpg);
  }
}

.hero__title {
  max-width: 360px;
  padding-top: 118px;
  margin-top: 0;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  color: var(--primary-white-color);
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
@media screen and (max-width: 341px) {
  .hero__title {
    padding-top: 80px;
  }
}

.hero__button {
  padding: 10px 24px;
}

@media screen and (min-width: 768px) {
  .hero {
    max-width: 768px;
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../../images/banner-tablet.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../../images/banner-tablet.jpg);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../../images/banner-tablet@2x.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../../images/banner-tablet@2x.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    max-width: 1600px;
    height: 600px;
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../../images/banner-desktop.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../../images/banner-desktop.jpg);
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../../images/banner-desktop@2x.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../../images/banner-desktop@2x.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .hero__title {
    max-width: 696px;
    padding-top: 200px;
    font-size: 44px;
    line-height: 1.36;
  }
}
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  background-color: var(--backdrop-color);
  z-index: 2;
  opacity: 1;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop--is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  min-width: 450px;
  padding: 40px;
  background-color: var(--primary-white-color);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop--is-hidden .modal {
  -webkit-transform: translate(-50%, -50%) scale(1.1);
          transform: translate(-50%, -50%) scale(1.1);
}

.modal__button {
  position: absolute;
  top: 8px;
  right: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 30px;
  height: 30px;
  border-radius: 50px;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  margin: 0;
  padding: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.modal__icon-closing {
  fill: var(--black-color);
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__button:hover .modal__icon-closing, .modal__button:focus .modal__icon-closing {
  fill: var(--accent-color);
}

@media screen and (max-width: 479px) {
  .modal {
    min-width: 95%;
  }
}
@media screen and (min-width: 1200px) {
  .modal {
    min-width: 528px;
  }
}
.modal-form__title {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin-bottom: 12px;
  color: var(--title-text-color);
  font-size: 20px;
  line-height: 1.5;
}

@media screen and (min-width: 1200px) {
  .modal-form__title {
    line-height: 1.15;
  }
}
.modal-form__field {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 10px;
  text-align: left;
}
.modal-form__field--indent {
  margin-bottom: 20px;
}

.modal-form__label {
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
}

.modal-form__wrapper {
  position: relative;
  color: var(--title-text-color);
}

.modal-form__input {
  width: 100%;
  max-height: 40px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 42px;
  padding-right: 15px;
  color: var(--title-text-color);
  cursor: pointer;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form__input:focus {
  outline: none;
  border-color: var(--accent-color);
}

.modal-form__icon {
  fill: currentColor;
  position: absolute;
  top: 50%;
  left: 15px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form__input:focus + .modal-form__icon {
  fill: var(--accent-color);
}

.modal-form__comment {
  padding: 12px 16px;
  min-height: 120px;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  cursor: pointer;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form__comment:focus {
  outline: none;
  border-color: var(--accent-color);
}
.modal-form__comment::-webkit-input-placeholder {
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal-form__comment::-moz-placeholder {
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal-form__comment:-ms-input-placeholder {
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal-form__comment::-ms-input-placeholder {
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal-form__comment::placeholder {
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-form__checkbox {
  margin-bottom: 30px;
}
@media screen and (max-width: 1199px) {
  .modal-form__checkbox {
    font-size: 12px;
    line-height: 1.17;
  }
}

.modal-form__checkbox-label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
}

.modal-form__checkbox-icon {
  display: inline-block;
  position: relative;
  width: 16px;
  height: 16px;
  margin-right: 8px;
  border-radius: 2px;
  border: 2px solid var(--black-color);
  background-color: transparent;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form__policy:focus + .modal-form__checkbox-label .modal-form__checkbox-icon {
  outline: 1px solid var(--accent-color);
}
.modal-form__policy:checked + .modal-form__checkbox-label .modal-form__checkbox-icon {
  background-color: var(--accent-color);
  border-color: var(--accent-color);
}

.modal-form__icon-policy-check {
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: transparent;
  opacity: 0;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form__policy:checked + .modal-form__checkbox-label .modal-form__icon-policy-check {
  opacity: 1;
}

.modal-form__link {
  color: var(--accent-color);
}

.modal-form__button {
  margin: 0 auto;
  padding: 10px 52px;
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}
.section--indent {
  display: none;
}
.section--team-bg {
  max-width: 480px;
  margin: 0 auto;
  background-color: var(--third-background-color);
}

.section__title {
  margin-top: 0;
  margin-bottom: 30px;
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 28px;
  line-height: 1.18;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .section--team-bg {
    max-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .section {
    padding-bottom: 94px;
    padding-top: 94px;
  }
  .section--indent {
    display: block;
    padding-top: 0;
  }
  .section--team-bg {
    max-width: 1600px;
  }
  .section__title {
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.17;
  }
}
@media screen and (max-width: 767px) {
  .qualities-list__item:not(:last-child) {
    margin-bottom: 30px;
  }
}
.qualities-list__icon-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 120px;
  margin-bottom: 30px;
  border-radius: 4px;
  background-color: var(--third-background-color);
}

.qualities-list__title {
  margin-top: 0;
  margin-bottom: 10px;
  color: var(--title-text-color);
  font-size: inherit;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  text-align: center;
}

.qualities-list__text {
  margin-top: 0;
  margin-bottom: 0;
}

@media screen and (min-width: 768px) {
  .qualities-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: -15px;
  }
  .qualities-list__item {
    width: calc((100% - 60px) / 2);
    margin: 15px;
  }
}
@media screen and (min-width: 1200px) {
  .qualities-list__item {
    width: calc((100% - 120px) / 4);
  }
}
.profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.profile__item {
  position: relative;
  width: calc((100% - 60px) / 3);
}
.profile__item:not(:last-child) {
  margin-right: 30px;
}

.profile__background-text {
  position: absolute;
  bottom: 0;
  left: 0;
  display: inline-block;
  width: 100%;
  background-color: rgba(47, 48, 58, 0.8);
  text-align: center;
}

.profile__text {
  margin: 0;
  padding-top: 27px;
  padding-bottom: 27px;
  color: var(--primary-white-color);
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
}

.team-list__item {
  background-color: var(--primary-white-color);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

@media screen and (max-width: 767px) {
  .team-list__item:not(:last-child) {
    margin-bottom: 30px;
  }
}
.team-list__item-body {
  padding-top: 30px;
  padding-bottom: 24px;
  padding-left: 10px;
  padding-right: 10px;
}

.team-list__title {
  margin-top: 0;
  margin-bottom: 10px;
  color: var(--title-text-color);
  font-weight: 500;
  font-size: inherit;
}

.team-list__text {
  margin-top: 0;
  margin-bottom: 16px;
}

@media screen and (min-width: 768px) {
  .team-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: -15px;
  }
  .team-list__item {
    width: calc((100% - 60px) / 2);
    margin: 15px;
  }
}
@media screen and (min-width: 1200px) {
  .team-list__item {
    width: calc((100% - 120px) / 4);
  }
  .team-list__item-body {
    padding-bottom: 30px;
  }
}
.socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  line-height: 0;
}
@media screen and (min-width: 1200px) {
  .socials--align-left {
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
  }
}

.socials__item {
  margin-right: 10px;
}
.socials__item:last-child {
  margin-right: 0;
}

.socials__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50px;
  background-color: rgba(255, 255, 255, 0.1);
  color: var(--primary-white-color);
  cursor: pointer;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.socials__link--color-team {
  background-color: var(--primary-white-color);
  color: var(--bombay-color);
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.socials__link:hover, .socials__link:focus {
  background-color: var(--accent-color);
}
.socials__link--color-team:hover, .socials__link--color-team:focus {
  background-color: var(--accent-color);
  color: var(--primary-white-color);
}

.socials__icon {
  fill: currentColor;
}

.client-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: -15px;
}

.client-list__item {
  width: calc((100% - 60px) / 2);
  margin: 15px;
  color: var(--bombay-color);
}

@media screen and (min-width: 768px) {
  .client-list__item {
    width: calc((100% - 90px) / 3);
  }
}
@media screen and (min-width: 1200px) {
  .client-list__item {
    width: calc((100% - 180px) / 6);
  }
}
.client-list__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 92px;
  border: 1px solid var(--bombay-color);
  border-radius: 4px;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: inherit;
}
.client-list__link:hover, .client-list__link:focus {
  color: var(--accent-color);
  border-color: var(--accent-color);
}

.client-list__icon {
  fill: currentColor;
}

.footer {
  background-color: var(--secondary-background-color);
  padding-top: 60px;
  padding-bottom: 60px;
  max-width: 480px;
  margin: 0 auto;
}

.footer__logo {
  display: inline-block;
  margin-bottom: 28px;
}

@media screen and (max-width: 1199px) {
  .footer__logo {
    display: block;
    margin-bottom: 28px;
    text-align: center;
  }
  .footer__mailing {
    -webkit-box-flex: 1;
        -ms-flex: 1 100%;
            flex: 1 100%;
    max-width: 450px;
    margin: 0 auto;
    text-align: center;
  }
}
@media screen and (max-width: 767px) {
  .footer__social-media {
    -webkit-box-flex: 1;
        -ms-flex: 1 100%;
            flex: 1 100%;
    margin-bottom: 60px;
  }
}
@media screen and (min-width: 768px) {
  .footer__social-media {
    -webkit-box-flex: 1;
        -ms-flex: 1 auto;
            flex: 1 auto;
  }
}
.footer__mailing {
  text-align: center;
}

.footer__text {
  display: block;
  text-align: center;
  margin-bottom: 20px;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--primary-white-color);
}

@media screen and (min-width: 768px) {
  .footer {
    max-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .footer {
    max-width: 1600px;
  }
  .footer__text {
    text-align: left;
  }
}
.wrapper-logo-address {
  margin-bottom: 60px;
  text-align: center;
}

@media screen and (max-width: 767px) {
  .wrapper-logo-address {
    -webkit-box-flex: 1;
        -ms-flex: 1 100%;
            flex: 1 100%;
  }
}
@media screen and (min-width: 768px) {
  .wrapper-logo-address {
    -webkit-box-flex: 1;
        -ms-flex: 1 auto;
            flex: 1 auto;
  }
}
@media screen and (min-width: 1200px) {
  .wrapper-logo-address {
    margin-bottom: 0;
    text-align: left;
  }
}
.address {
  color: var(--primary-white-color);
  font-style: inherit;
  line-height: 1.14;
}

.address__contact {
  margin-top: 12px;
}

.address__contact-item:first-child {
  margin-bottom: 12px;
}

.address__contact-link {
  color: var(--transparent-white-color);
}

.form {
  display: block;
}

.form__input {
  max-width: 450px;
  width: 100%;
  padding: 14px 16px;
  margin-bottom: 20px;
  font-size: 16px;
  line-height: 1.25;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  color: var(--primary-white-color);
  background-color: var(--secondary-background-color);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
.form__input::-webkit-input-placeholder {
  color: var(--transparent-white-color);
}
.form__input::-moz-placeholder {
  color: var(--transparent-white-color);
}
.form__input:-ms-input-placeholder {
  color: var(--transparent-white-color);
}
.form__input::-ms-input-placeholder {
  color: var(--transparent-white-color);
}
.form__input::placeholder {
  color: var(--transparent-white-color);
}

.form__button {
  padding: 10px 28px;
}

@media screen and (min-width: 1200px) {
  .form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .form__input {
    min-width: 358px;
    margin-bottom: 0px;
  }
  .form__button {
    margin-left: 12px;
  }
}
.filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}
.filter--indent {
  margin-bottom: 40px;
}

.filter__item {
  margin-right: 8px;
}
.filter__item:last-child {
  margin-right: 0;
}

@media screen and (max-width: 767px) {
  .filter {
    max-width: 90%;
  }
  .filter__item:nth-child(-n+3) {
    margin-bottom: 15px;
  }
  .filter__item:nth-child(3) {
    margin-right: 0;
  }
}
@media screen and (max-width: 767px) and (max-width: 385px) {
  .filter__item:nth-child(3) {
    margin-right: 8px;
  }
}
@media screen and (min-width: 768px) {
  .filter {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .filter--indent {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .filter--indent {
    margin-bottom: 50px;
  }
}
.filter__button {
  padding: 6px 22px;
  min-width: 67px;
  background-color: var(--third-background-color);
  color: var(--title-text-color);
  font-weight: 500;
  line-height: 1.62;
  letter-spacing: 0.03em;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.filter__button--current, .filter__button:hover, .filter__button:focus {
  background-color: var(--accent-color);
  color: var(--primary-white-color);
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.works-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.works-list__item {
  background-color: var(--primary-white-color);
}

@media screen and (max-width: 767px) {
  .works-list__item:not(:last-child) {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) {
  .works-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: -15px;
  }
  .works-list__item {
    width: calc((100% - 60px) / 2);
    margin: 15px;
  }
}
@media screen and (min-width: 1200px) {
  .works-list__item {
    width: calc((100% - 90px) / 3);
  }
}
.works-link {
  display: block;
  text-decoration: none;
  -webkit-transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.works-link:hover, .works-link:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.works-link__title {
  margin-top: 0;
  margin-bottom: 4px;
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.works-link__wrapper {
  position: relative;
  overflow: hidden;
}

.works-link__body {
  border-left: 1px solid var(--gallery-color);
  border-right: 1px solid var(--gallery-color);
  border-bottom: 1px solid var(--gallery-color);
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;
  padding-right: 24px;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .works-link__body--padding {
    padding-bottom: 56px;
  }
}
.works-link__text {
  margin-top: 0;
  margin-bottom: 0;
  color: var(--primary-text-color);
  font-size: 16px;
  line-height: 1.88;
}

.works-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 1;
}
.works-link:hover .works-overlay, .works-link:focus .works-overlay {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.works-overlay__wrapper-text {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  opacity: 0;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.works-link:hover .works-overlay__wrapper-text, .works-link:focus .works-overlay__wrapper-text {
  opacity: 1;
}

.works-overlay__text {
  margin: 0;
  min-width: 322px;
  font-size: 18px;
  line-height: 1.56;
  color: var(--primary-white-color);
}/*# sourceMappingURL=main.css.map */