.address {
    
    color: var(--primary-white-color);
  
    font-style: inherit;
    line-height: 1.14; 
}

.address__contact {
    @extend %list;
    margin-top: 12px;
}

.address__contact-item {

    &:first-child {
      margin-bottom: 12px;
    }
}

.address__contact-link {
    @extend %link;

    color: var(--transparent-white-color);
}