.footer {
    background-color: var(--secondary-background-color);
    padding-top: 60px;
    padding-bottom: 60px;
}

.footer__logo {
    display: inline-block;
    margin-bottom: 28px;
}
@media screen and (max-width: 1199px) {
    .footer__logo {
        display: block;
        margin-bottom: 28px;
        text-align: center;
    }
    .footer__mailing {
        flex: 1 100%;
        max-width: 450px;
        margin: 0 auto;
        text-align: center;
    }
}
@media screen and (max-width: 767px) {

    .footer__social-media {
        flex: 1 100%;
        margin-bottom: 60px;
    }
    

}
@media screen and (min-width: 768px) {
    .footer__social-media {
        flex: 1 auto;
    }
}
.footer__mailing {
    text-align: center;
}
.footer__text {
    display: block;
    text-align: center;
    margin-bottom: 20px;
  
    font-weight: 700;
    line-height: 1.14;
    text-transform: uppercase;
  
    color: var(--primary-white-color);
}

@media screen and (min-width:1200px) {
    .footer__text {
        text-align: left;
    }
} 