.qualities-list {
    @extend %list;
}
@media screen and (max-width: 767px) {
    .qualities-list__item {
        &:not(:last-child) {
              margin-bottom: 30px;
        }
    }
}
.qualities-list__icon-wrapper {
    @include centred-flex();
    height: 120px;
    margin-bottom: 30px;
  
    border-radius: 4px;
    background-color: var(--third-background-color);
}
.qualities-list__title {
    margin-top: 0;
    margin-bottom: 10px;
  
    color: var(--title-text-color);
    font-size: inherit;
    font-weight: 700;
    line-height: 1.14;
    text-transform: uppercase;
    text-align: center;
}
.qualities-list__text {
    margin-top: 0;
    margin-bottom: 0;
}

@media screen and (min-width: 768px) {
    .qualities-list {
        display: flex;
        flex-wrap: wrap;
        margin: -15px;
    }
    .qualities-list__item {
        width: calc((100% - 2*30px)/2);
        margin: 15px;
    }
}
@media screen and (min-width: 1200px) {
    .qualities-list__item {
        width: calc((100% - 4*30px)/4);
    }
}