.works-list {
    @include list();
}
.works-list__item {
    background-color: var(--primary-white-color);
}
@media screen and (max-width: 767px) {
  .works-list__item:not(:last-child) {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) {
  .works-list {
    @include wrap-flex();
    margin: -15px;
  }
  .works-list__item {
    width: calc((100% - 2*30px)/2);
    margin: 15px;
  }
}
@media screen and (min-width: 1200px) {
  .works-list__item {
    width: calc((100% - 3*30px)/3);
  }
}