.container {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;


    &--header-flex {
        @include centred-flex($content: space-between);
      }
    &--footer-flex {
        @include centred-flex($align: baseline);
      }
}